
body {
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}

.glyphicon-shopping-cart{
  margin-right: 1.3%;
}

.glyphicon-time{
  margin-right: 1.5%;
}

.header_label{
  text-align: center;
}

.shopping_list_item:hover{
  background-color: rgb(238, 238, 238);
}

.shopping_list_item{
  background-color: rgb(255, 255, 255);
}

#delete_all_glyph{
  margin-right: 2%;
}

#delete_all_button{
  margin-left: 2%;
}

#add_new_button, #delete_all_button{
  width: 49%;
}


.shopping_list_item_text_history {
  display: inline-block;
  margin-left: 1.5%;
}

.checked_shopping_list_item_text{
  text-decoration: line-through;
}

.checked_shopping_list_item_history {
  background-color: rgb(238, 238, 238);
}

.shopping_list_item_checkbox{
  display: inline-block;
}

.dropdown_container ul.dropdown-menu{
  overflow-y: auto;
  max-height: 30vh;
}

.revertDropdownMenuDiv {
  color: red;
}

#revertDropdown{
  margin-left: 4%;
}

.loader {
  margin: auto;
  width: 50%;
  z-index: 1;
  position: relative;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
