
body {
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}

.glyphicon-shopping-cart{
  margin-right: 1.3%;
}

.glyphicon-time{
  margin-right: 4%;
}

.header_label{
  text-align: center;
}

.shopping_list_item:hover{
  background-color: rgb(238, 238, 238);
}

.shopping_list_item{
  background-color: rgb(255, 255, 255);
}

.new_item>button{
  width: 100%;
}


.checked_shopping_list_item_text{
  text-decoration: line-through;
}

.shopping_list_item_checkbox{
  display: inline-block;
  margin-left: 2.5%;
}

.loader {
  margin: auto;
  width: 50%;
  z-index: 1;
  position: relative;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
